# ==== Objetivo y memoria (N16R8: 16MB flash, 8MB PSRAM) ====
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_FREERTOS_HZ=1000
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_COMPILER_OPTIMIZATION_PERF=y
# GCC14: warnings nuevos en componentes externos NO tratan como error
CONFIG_COMPILER_DISABLE_GCC12_WARNINGS=y
# ==== Tabla de particiones con OTA dual ====
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
# ==== Rollback OTA ====
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_ESP_VIDEO_USE_CUSTOMIZED_ESP_H264_VERSION=n
